<div class="pos-pag">
    <div class="pos-pag__delete">
        <button class="delete-button btn-reset">
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_2082_5379" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                    height="25">
                    <rect y="0.5" width="24" height="24" fill="#D9D9D9" />
                </mask>
                <g mask="url(#mask0_2082_5379)">
                    <path
                        d="M5.975 7.16667V7.06667H5.875H5.1V5.48889H9.375H9.475V5.38889V4.6H14.525V5.38889V5.48889H14.625H18.9V7.06667H18.125H18.025V7.16667V18.7222C18.025 19.1849 17.864 19.5782 17.5397 19.9076C17.2154 20.237 16.829 20.4 16.375 20.4H7.625C7.171 20.4 6.78456 20.237 6.46033 19.9076C6.13605 19.5782 5.975 19.1849 5.975 18.7222V7.16667ZM16.475 7.16667V7.06667H16.375H7.625H7.525V7.16667V18.7222V18.8222H7.625H16.375H16.475V18.7222V7.16667ZM11.025 9.04444V16.8444H9.475V9.04444H11.025ZM14.525 9.04444V16.8444H12.975V9.04444H14.525Z"
                        fill="#E50C00" stroke="#FDF4F4" stroke-width="0.2" />
                </g>
            </svg>
            <span>Удалить</span>
        </button>
        <span>Выбрано слов <span class="pos-pag__delete-count">1</span></span>

        <div class="copy-wrap">
            <button class="btn copy-button btn-reset">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_2001_7957" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24"
                        height="25">
                        <rect y="0.5" width="24" height="24" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_2001_7957)">
                        <path
                            d="M9.84118 15.7V15.8H9.94118H17.3529H17.4529V15.7V6.1V6H17.3529H9.94118H9.84118V6.1V15.7ZM6.64706 19H15.6059V20.4H6.64706C6.21993 20.4 5.85724 20.2533 5.5535 19.9583C5.24986 19.6633 5.1 19.3123 5.1 18.9V7.8H6.54706V18.9V19H6.64706ZM9.94118 17.2C9.51404 17.2 9.15135 17.0533 8.84762 16.7583C8.54397 16.4633 8.39412 16.1123 8.39412 15.7V6.1C8.39412 5.68769 8.54397 5.3367 8.84762 5.04173C9.15135 4.74667 9.51404 4.6 9.94118 4.6H17.3529C17.7801 4.6 18.1428 4.74667 18.4465 5.04173C18.7501 5.3367 18.9 5.68769 18.9 6.1V15.7C18.9 16.1123 18.7501 16.4633 18.4465 16.7583C18.1428 17.0533 17.7801 17.2 17.3529 17.2H9.94118Z"
                            fill="#0076F5" stroke="#DFEFFF" stroke-width="0.2" />
                    </g>
                </svg>
                <span>Скопировать</span>
            </button>
            <div class="project__dropdown-wrapper">
                <span class="copy-variant">Список слов</span>
                <span class="copy-variant">Список слов с данными </span>
                <span class="copy-variant">Список слов с данными и суммами</span>
            </div>

        </div>
        <div class="search-folders search-projects-menu">
            <div class="btn select-project-btn btn-grouping btn-reset">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M7.11111 16.5V9.38889H0V7.61111H7.11111V0.5H8.88889V7.61111H16V9.38889H8.88889V16.5H7.11111Z"
                        fill="#0076F5" />
                </svg>
                <span>В группу</span>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.5714 6.5C10.651 6.5 10.729 6.52069 10.7967 6.55974C10.8644 6.59879 10.9192 6.65467 10.9548 6.72111C10.9903 6.78756 11.0054 6.86194 10.9983 6.93592C10.9911 7.00991 10.962 7.08057 10.9143 7.14L8.34286 10.34C8.30294 10.3897 8.25117 10.43 8.19166 10.4578C8.13215 10.4855 8.06653 10.5 8 10.5C7.93347 10.5 7.86785 10.4855 7.80834 10.4578C7.74883 10.43 7.69706 10.3897 7.65714 10.34L5.08572 7.14C5.03796 7.08057 5.00888 7.00991 5.00173 6.93592C4.99458 6.86194 5.00965 6.78756 5.04525 6.72112C5.08084 6.65467 5.13555 6.59879 5.20326 6.55974C5.27096 6.52069 5.34898 6.5 5.42857 6.5L10.5714 6.5Z"
                        fill="#0076F5" />
                </svg>
            </div>
            <div class="search__dropdown-wrapper">
                <div class="project__dropdown">
                    <div class="input-wrap">
                        <input id="input-search" type="text" class="input input--icon"
                            placeholder="Введите название группы">
                        <label class="input-wrap-icon" for="input-search"></label>
                    </div>
                    <div class="search__folders-wrap">
                        <div class="folder" data-visible="false">
                            <div class="folder__btn btn-reset">
                                <span>Папка 1</span>
                            </div>
                        </div>
                        <div class="folder" data-visible="false">
                            <div class="folder__btn btn-reset">
                                <span>Папка 2</span>
                            </div>
                        </div>
                        <div class="folder" data-visible="false">
                            <div class="folder__btn btn-reset">
                                <span>Папка 3</span>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-reset btn-new-folder active">
                        <svg width="24" height="24">
                            <use href="/static/img/svg/sprite.svg#add"></use>
                        </svg>
                        <span class="btn-new-folder-text">Новая папка</span>
                    </div>
                    <div class="add-folder">
                        <input type="text" class="input add-folder-name" placeholder="Введите название  
                    " />
                        <div class="btn btn-reset btn-create-folder-pop">
                            <svg width="24" height="24">
                                <use href="/static/img/svg/sprite.svg#add"></use>
                            </svg>
                            <span class="btn-new-folder-text">Создать</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pos-pag__wrap">
        <div class="pos-pag__pages">
            <svg class="pos-pag__arrow-1" width="10" height="17" viewBox="0 0 10 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.28697 1.92L2.7585 8.39349L2.65108 8.5L2.7585 8.60651L9.28696 15.08L8.06794 16.2888L0.213035 8.5L8.06794 0.711241L9.28697 1.92Z"
                    fill="#747474" stroke="white" stroke-width="0.3" />
            </svg>
            <span>Страница</span>
            <input id="currentPage" type="text" class="input short--input" value="1">
            <span id="pagesCount">Из 5</span>
            <svg class="pos-pag__arrow-2" width="10" height="17" viewBox="0 0 10 17" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.213035 1.92L6.7415 8.39349L6.84892 8.5L6.7415 8.60651L0.213036 15.08L1.43206 16.2888L9.28697 8.5L1.43206 0.711241L0.213035 1.92Z"
                    fill="#747474" stroke="white" stroke-width="0.3" />
            </svg>
        </div>
        <div class="pos-pag__items">
            <div class="pos-pag__variables">
                <button class="pos-pag-button btn-reset">
                    <span>50</span>
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5714 6.5C10.651 6.5 10.729 6.52069 10.7967 6.55974C10.8644 6.59879 10.9192 6.65467 10.9548 6.72111C10.9903 6.78756 11.0054 6.86194 10.9983 6.93592C10.9911 7.00991 10.962 7.08057 10.9143 7.14L8.34286 10.34C8.30294 10.3897 8.25117 10.43 8.19166 10.4578C8.13215 10.4855 8.06653 10.5 8 10.5C7.93347 10.5 7.86785 10.4855 7.80834 10.4578C7.74883 10.43 7.69706 10.3897 7.65714 10.34L5.08572 7.14C5.03796 7.08057 5.00888 7.00991 5.00173 6.93592C4.99458 6.86194 5.00965 6.78756 5.04525 6.72112C5.08084 6.65467 5.13555 6.59879 5.20326 6.55974C5.27096 6.52069 5.34898 6.5 5.42857 6.5L10.5714 6.5Z"
                            fill="#747474" />
                    </svg>
                </button>
                <div id="paginationDropdown" class="project__dropdown-wrapper">
                    <div class="pos-pag__variable">50</div>
                    <div class="pos-pag__variable">100</div>
                    <div class="pos-pag__variable">500</div>
                    <div class="pos-pag__variable">1000</div>
                </div>
            </div>
        </div>
    </div>
</div>